@media screen and (max-width: 780px) {
  .container {
    gap: 2px !important;/* espaço entre as linhas */
  }

  .linha{
    gap: 0px !important;/* espaço entre as caixinhas */
  }

  .letter{
    width: 51px !important;
    height: 51px !important;
  }
  
  body{
    padding-top: 90px !important;
  }
}


body{
    padding-top: 150px;
    max-height: 100%;
    background-color: #3e164a;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > nav{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Mitr', sans-serif;
    font-weight: 600;
    font-size: 200%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
   
    width: 100%;
}
.container {

  display: flex;
  flex-direction: column; /* empilha as linhas verticalmente */
  align-items: center;    /* centraliza horizontalmente */
  gap: 10px;              /* espaço entre as linhas */
}

.linha {
  display: flex;       /* coloca as divs lado a lado */
  gap: 1px;           /* espaço entre as caixinhas */
  justify-content: center; /* centraliza a linha na tela */
  margin-bottom: 10px;     /* espaço entre linhas */
}
/*#502834*/

.letter{
    font-family: 'Mitr', sans-serif;
    font-weight: 600;
    font-size: 0.65em;
    width: 61px;
    height: 61px;
    background-color: transparent;
    border: 2px solid #200b26;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}